/********** TYPOGRAPHY **********/

body {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Roboto', sans-serif;
  color: #222;
}

h1 {
  font-size: 3rem;
  font-family: 'Monoton', cursive;
  font-style: italic
}

h2, h3, h4 {
  font-style: italic;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

/********** GENERAL **********/
button, .btn.btn-default {
  padding: 5px 20px;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 4px;
  -webkit-transition: all .35s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -ms-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

button, .btn.btn-default {
  color: #fff;
  background-color:#303f52;
  border: 3px solid transparent;
}

button:hover, .btn.btn-default:hover {
  border-color: #303f52;
  color: #303f52;
  background-color: transparent;
}

/********** TABLES **********/

table {
  width: 100%;
  text-align: center;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
}

table tr:first-of-type {
  background-color: #303f52;
  color: #fff;
}

table tr:nth-of-type(even) {
  background-color: #eee;
}

table tr th {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 10px 0;
}

table tr > td {
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
  padding: 5px 0;
}

table tr > td:first-of-type, table tr > th:first-of-type {
  border-left: 0;
}

table tr > td:last-of-type, table tr > th:last-of-type {
  border-right: 0;
}

/********** GRAND PRIX RESULTS **********/
.gp-race-title {
  display: inline-block;
  position: relative;
  padding-bottom: 3px;
}

.gp-race-title::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #8e0404;
  height: 5px;
  width: 100%;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, .3);
}

/********** MODAL **********/
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  min-height: 100vh;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  animation: fade-in .5s;
}

.fade-out {
  animation: fade-out .5s;
}
.modal-content {
  background-color: #fafafa;
}

/********** WATCH RACE **********/
.race-replay {
  position: relative;
  min-height: 700px;
}

.race-pos {
  position: absolute;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.race-pos .indicator {
  animation: fade-in .5s;
  font-size:  .8rem;
}

.race-pos .indicator.pit-stop {
  color: green;
}

.race-pos .indicator.lapped {
  color: blue;
}

.race-pos .indicator.dnf {
  color: red;
}

/********** START LIGHTS **********/

.start-light {
  display: inline-block;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  margin-right: 10px;
  border: 2px solid #222;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: all .5s ease-out;
  -moz-transition: all .5s ease-out;
  -ms-transition: all .5s ease-out;
  -o-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.start-light.countdown {
  border-color: #8e0404;
  background-color: #8e0404;
  animation: pulse .5s;
}

.start-light.go {
  border-color: green;
  background-color: green;
  animation: start .5s;
  opacity: 0;
}


/********** ANIMATIONS **********/

/*** FADE-IN ***/
@-webkit-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@-o-keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}
@keyframes fade-in {
  0%   { opacity: 0; }
  100% { opacity: 1; }
}

/*** FADE-OUT ***/
@-webkit-keyframes fade-out {
  100% { opacity: 1; }
  0%   { opacity: 0; }
}
@-moz-keyframes fade-out {
  100% { opacity: 1; }
  0%   { opacity: 0; }
}
@-o-keyframes fade-out {
  100% { opacity: 1; }
  0%   { opacity: 0; }
}
@keyframes fade-out {
  100% { opacity: 1; }
  0%   { opacity: 0; }
}

/*** PULSE ***/
@-webkit-keyframes pulse {
  100% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50%  {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  0%   { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  100% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  0% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@-o-keyframes pulse {
  100% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  0% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  100% { 
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }
  50% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
  }
  0% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}

/*** START ***/
@-webkit-keyframes start {
  100% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  75% {
    opacity: .7;
  }
  50%  {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  0%   { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-moz-keyframes start {
  100% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  50% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  0% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@-o-keyframes start {
  100% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
  75% {
    opacity: .7;
  }
  50% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  0% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes start {
  100% { 
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    opacity: 0;
  }
  75% {
    opacity: .7;
  }
  50% {
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
    -o-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    opacity: 1;
  }
  0% { 
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}